In [37]:
import pandas as pd

In [38]:
#reading data files
a=pd.read_csv("ap.csv")
b=pd.read_csv("bsrtc.csv")
c=pd.read_csv('ctu.csv')
d=pd.read_csv("hrtc.csv")
e=pd.read_csv("northbengal.csv")
f=pd.read_csv("pepsu.csv")
g=pd.read_csv("red.csv")
h=pd.read_csv("rsrtc.csv", encoding='ISO-8859-1') 
i=pd.read_csv("sbstc.csv")
j=pd.read_csv('tsrtc.csv')
k=pd.read_csv('upsrtc.csv')
l=pd.read_csv('wbtc.csv')
m=pd.read_csv('westbengal.csv')

In [39]:
#merging files
df=pd.concat([a,b,c,d,e,f,g,h,i,j,l,m])

In [40]:
#droping empty data
df1=df.dropna()

In [41]:
#droping unnecessary columns
df1.drop(columns=['Unnamed: 0'], inplace=True)

C:\Users\91866\AppData\Local\Temp\ipykernel_2656\405487831.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.drop(columns=['Unnamed: 0'], inplace=True)

In [42]:
for index, value in df1['Price'].items():
    split_value = value.split()
    if len(split_value) > 1:
        df1.loc[index, 'Price'] = split_value[1]  # Update with second word
    else:
        df1.loc[index, 'Price'] = value  # Keep original value if no space

C:\Users\91866\AppData\Local\Temp\ipykernel_2656\3625654232.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[index, 'Price'] = split_value[1]  # Update with second word
C:\Users\91866\AppData\Local\Temp\ipykernel_2656\3625654232.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.loc[index, 'Price'] = value  # Keep original value if no space

In [43]:
# cleaning the ratings column
df1['Ratings']=df1['Ratings'].str.split().str[0]

C:\Users\91866\AppData\Local\Temp\ipykernel_2656\2137722277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Ratings']=df1['Ratings'].str.split().str[0]

In [44]:
df1.to_csv("combined.csv")

In [45]:
import pymysql

In [46]:
#connecting to mysql
myconnection = pymysql.connect(host='127.0.0.1',user='root',passwd='Mysql@1')

In [47]:
#printing datatypes of the columns
for i,j in  zip(df1.columns,df1.dtypes):
    print(i,j)

Bus_name object
Bus_type object
Start_time object
End_time object
Total_duration object
Price object
Seats_Available object
Ratings object
Route_link object
Route_name object

In [48]:
#creating column names and it datatypes
columns= 'Bus_name VARCHAR(255),Bus_type VARCHAR(255),Start_time time,End_time time,Total_duration VARCHAR(50),Price varchar(50),Seats_Available VARCHAR(50),Ratings varchar(50),Route_link VARCHAR(255),Route_name VARCHAR(255)'

In [49]:
#creating database
myconnection.cursor().execute("use redbusproject")

0

In [50]:
myconnection.cursor().execute(f"drop table redbusproject.buses")

0

In [51]:
#creating table
myconnection.cursor().execute(f"create table redbusproject.buses({columns})")

0

In [52]:
#adding values to the table
for i in range(len(df1)):
    myconnection.cursor().execute(f"insert into redbusproject.buses value {tuple(df1.iloc[i])}")
    myconnection.commit()